<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let beer of beers; let i=index">
            <div class="card mb-3">
                <img class="card-img-top mx-auto" [src]="beer.imageUrl" alt="" style="width:60px;">
                <div class="card-body">
                    <h4 class="card-title">{{beer.name}}</h4>
                    <h5 class="card-title">{{beer.abv}}</h5>
                    <p class="card-text">{{beer.tagline}}</p>
                </div>
            </div>
        </div>
    </div>
</div>