<tr>
    <td><button class="btn btn-primary btn-block" value="1" (click)="handleClick(1)"> 1 </button> </td>
    <td><button class="btn btn-primary btn-block" value="2" (click)="handleClick(2)"> 2 </button> </td>
    <td><button class="btn btn-primary btn-block" value="3" (click)="handleClick(3)"> 3 </button> </td>
    <td><button class="btn btn-primary btn-block" value="/" (click)="handleClick('/')"> / </button> </td>
</tr>
<tr>
    <td><button class="btn btn-primary btn-block" value="4" (click)="handleClick(4)"> 4 </button> </td>
    <td><button class="btn btn-primary btn-block" value="5" (click)="handleClick(5)"> 5 </button> </td>
    <td><button class="btn btn-primary btn-block" value="6" (click)="handleClick(6)"> 6 </button> </td>
    <td><button class="btn btn-primary btn-block" value="-" (click)="handleClick('-')"> - </button> </td>
</tr>
<tr>
    <td><button class="btn btn-primary btn-block" value="7" (click)="handleClick(7)"> 7 </button> </td>
    <td><button class="btn btn-primary btn-block" value="8" (click)="handleClick(8)"> 8 </button> </td>
    <td><button class="btn btn-primary btn-block" value="9" (click)="handleClick(9)"> 9 </button> </td>
    <td><button class="btn btn-primary btn-block" value="+" (click)="handleClick('+')"> + </button> </td>
</tr>
<tr>
    <td><button class="btn btn-primary btn-block" value="." (click)="handleClick('.')"> . </button> </td>
    <td><button class="btn btn-primary btn-block" value="0" (click)="handleClick(0)"> 0 </button> </td>
    <td><button class="btn btn-primary btn-block" value="=" (click)="handleClick('=')"> = </button> </td>
    <td><button class="btn btn-primary btn-block" value="*" (click)="handleClick('*')"> * </button> </td>
</tr>